name: Check
on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  main:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run checks
        run: |
          ./index.sh
